body {
    text-align: center;
}

#page-header {
    background-color: #660033;
    text-align: center;
    color: white;
}

#toolbar {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.tag {
    color: #660033;
}
