<!DOCTYPE html>
<html>
    <head>
        <title>Tune Tracker</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" 
        integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>


    </head>

    <body>

        <div id="login-bar" style='float: right'>
            {% if 'user' in session %}
            {{ session['user'] }}
            <form action="/logout" method="post" id='logout'>
                <input type="submit" value="Log Out" />
            </form>
            {% else %}
            <a href="/login">login</a> | <a href="/signup">register</a>
            {% endif %}
        </div>

        <div class="jumbotron" id="page-header">  

            <h1>Tune Tracker</h1>
            <span id="navbar">
                <a id="toolbar" href="/home">Home</a>
                <a id="toolbar">Recommended</a>
                <a id="toolbar" href="/profile">Profile</a>
            </span>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>